	<div ng-init="getItems()">
      <form ng-submit="saveNewTodo()">
        <label>What</label>
        <input type="text" name="what" ng-model="newtodo.what" required/>
        <label>Priority</label>
        <input type="text" name="priority" ng-model="newtodo.priority" required/>
        <br/>
        <input type="submit" value="Save" />
      </form>
      <table>
        <thead>
          <tr>
            <th>What</th>
            <th>Priority</th>
            <th>Added on</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="todo in todos">
            <td>{{ todo.what }}</td>
            <td>{{ todo.priority }}</td>
            <td>{{ todo.added_on }}</td>
            <td>
                <a href="#EditTodo/{{todo.id}}">edit</a> | 
                <a href="#" ng-click="deleteTodo(todo.id)">done</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>